:root {
  --primary-color: #f69e12;
  --secondary-color: #497d95;
  --light-color: #eee;
  --dark-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  background: url('./assets/bg_dark.png');
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

img {
  max-width: 90%;
}

.z-1 {
  font-size: clamp(2rem, 0.2rem + 10vw, 5rem);
}

.z-2 {
  font-size: clamp(1.5rem, 0.2rem + 10vw, 3.5rem);
}

.z-3 {
  font-size: clamp(0.5rem, 0.1rem + 10vw, 1.5rem);
}

.z-4 {
  font-size: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.container {
  max-width: 90vw;
  height: 100%;
  margin: auto;
  padding: 1rem 2rem;
  overflow: hidden;
}

.btn {
  font-size: 1.25rem;
  padding: 10px 15px;
  border-radius: 8px;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-secondary {
  color: #000;
  background: var(--light-color);
}

.btn:hover {
  opacity: 0.8;
}

.icons {
  margin: 1.5rem;
}

/* Navbar */
#mobile-nav {
  display: none;
}

.logo {
  margin: 1rem 1.5rem;
}

.logo span {
  color: var(--primary-color);
}

#navbar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: rgb(238, 238, 238, 0.1);
  z-index: 100;
}

#navbar .navigation {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 1.5rem;
}

#navbar .navigation li {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 1rem;
}
.navigation li a {
  font-size: 16px;
  transition: color 0.5s ease-in;
}

.navigation li a:hover {
  color: var(--primary-color);
}

/* Home */
#home {
  height: 100vh;
  background: url('./assets/background.jpg') no-repeat center center / cover;
}

.content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  gap: 30px;
}

.content .typical {
  height: 100px;
}

.btn-container {
  display: flex;
  gap: 30px;
}

/* About Me */
#about {
  height: 100vh;
}

.info-content {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.info-content img {
  text-align: center;
}
.about-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 3%;
}

.about-content .icons:hover {
  color: var(--primary-color);
}

.about-content .btn {
  margin-top: 1rem;
}

/* Skills */
#skills {
  height: 100vh;
  padding-top: 3rem;
}

#skills .z-2 {
  text-align: center;
}
.info-skills {
  height: 90%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.pointer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.skill-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1rem 0 1rem 1rem;
  justify-content: center;
  align-items: center;
}

.info-skills .pointer .icons {
  font-size: 2.5rem;
}
.info-skills .pointer span {
  display: block;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.skill-details {
  width: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

/* Knew */
.info-knew .progress-container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.info-knew h4 {
  text-align: start;
  width: 18rem;
  font-size: 1.5rem;
}

.info-knew .progress {
  background: var(--light-color);
  margin-left: 1rem;
  width: 100%;
  height: 20px;
  border-radius: 6px;
}

.info-knew .progress div {
  border-radius: 6px 0 0 6px;
  height: 100%;
  background: var(--primary-color);
}

/* Learning */

.info-learning .li-point {
  display: flex;
  align-items: center;
}

.info-learning li {
  padding: 0.5rem;
}

.info-learning .li-point h2 {
  margin-left: 1rem;
  font-size: 1.75rem;
}

.info-learning .li-point .icons {
  font-size: 1.75rem;
  color: var(--primary-color);
  margin: 0 1rem 0 0.5rem;
}

.info-learning p {
  margin-left: 4.5rem;
  font-size: 1.1rem;
}

/* Project */
#projects {
  height: 100vh;
  padding-top: 3rem;
}

#projects h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.swiper {
  width: 100%;
  height: 60vh;
}

.swiper-slide {
  text-align: center;
  font-size: 1.5rem;
  background: url('assets/bg_dark.png');

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: end;
}

.swiper-pagination-bullet {
  background-color: var(--light-color) !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
}

.project-content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.project-info {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.project-content h2 {
  font-size: 1.5rem;
}

.project-content p {
  font-size: 1rem;
}

.project-1 {
  background: url('./assets//project_1.png') no-repeat center center;
}

.project-2 {
  background: url('./assets//project_2.png') no-repeat center center;
}

.project-3 {
  background: url('./assets//project_3.png') no-repeat center center;
}

.project-details {
  color: var(--primary-color);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.project-details a {
  color: var(--primary-color);
  font-size: 1.25rem;
}

.project-details:hover {
  opacity: 0.6;
}

.project-details .icons {
  margin: 0;
  font-size: 1.25rem;
}

/* Contact */
#contact {
  height: 100vh;
  padding-top: 3rem;
}

#contact .z-2 {
  text-align: center;
}

#contact .contact-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.contact-container .contact-img {
  max-width: 40%;
}

.form-container {
  display: flex;
  background: url('./assets/bg_dark.png');
  width: 50%;
}

.form-container form {
  width: 100%;
}

.form-container .icons {
  color: var(--primary-color);
  margin: 0;
}

.form-container h1 {
  color: var(--light-color);
  padding: 1rem;
}

.form-container .form-item {
  padding: 0 1.5rem 0.75rem 1.5rem;
}

.form-container .form-item input {
  width: 70%;
  height: 30px;
  font-size: 20px;
  border: none;
  box-shadow: 1px 1px 5px #333;
  border-radius: 4px;
}

.form-container .form-item .btn {
  color: var(--light-color);
  background-color: var(--primary-color);
  height: 50px;
  font-size: 20px;
}

.form-container .form-item textarea {
  width: 70%;
  height: 200px;
  font-size: 20px;
  box-shadow: 1px 1px 5px #333;
  border-radius: 4px;
}

.form-container .form-item textarea:focus,
.form-container .form-item input:focus {
  outline-style: none;
}

.form-container .form-item label {
  font-size: 1.2rem;
  color: var(--light-color);
  display: block;
}

.form-container .form-item p {
  color: red;
}

/* ************************************************************* */

@media (max-width: 1020px) {
  .btn {
    font-size: 0.75rem;
    padding: 8px 12px;
    border-radius: 5px;
  }
  .container {
    padding: 1rem;
  }

  .img-container {
    margin: 1rem auto 0 auto;
    height: 80%;
  }

  .about-img {
    justify-content: center;
    content: url(./assets/about_alt.jpg);
  }

  /* Navbar */
  #navbar {
    display: none;
  }

  #mobile-nav {
    position: fixed;
    width: 100%;
    display: block;
    z-index: 100;
  }
  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-container .icons {
    font-size: 20px;
    color: var(--light-color);
  }

  #mobile-nav .navigation {
    background: rgb(0, 0, 0, 0.8);
    border-top: 1px solid rgba(246, 158, 18, 0.7);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #mobile-nav .navigation li {
    margin: 0 8%;
    padding: 3px;
  }

  /* About Me*/
  #about {
    margin-top: 1rem;
  }

  .info-content {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .about-content {
    gap: 0;
  }
  .about-content .icons {
    font-size: 1.5rem;
    margin: 0.75rem;
  }

  .about-content h1 {
    font-size: 2rem;
  }
  .about-content p {
    font-size: 1rem;
  }

  /* Skills */

  #skills .z-2 {
    font-size: 2rem;
  }

  .info-skills {
    display: flex;
    flex-direction: column;
  }

  .pointer {
    width: 100%;
    flex-direction: row;
    border-bottom: 1px solid var(--light-color);
    margin-bottom: 0.5rem;
  }

  .info-skills .pointer .icons {
    font-size: 1rem;
  }
  .info-skills .pointer span {
    margin-left: 0.5rem;
    font-size: 0.75rem;
  }

  .skill-item {
    display: flex;
  }

  .skill-item .icons {
    margin: 0;
  }

  .skill-details {
    width: 100%;
    margin-left: 0;
  }

  /* Knew */

  .info-knew h4 {
    width: 10rem;
    font-size: 1rem;
  }

  .info-knew .progress {
    height: 15px;
    border-radius: 5px;
  }

  /* Learning */

  .info-learning .li-point h2 {
    margin-left: 0;
    font-size: 0.9rem;
  }

  .info-learning .li-point .icons {
    font-size: 1.5rem;
    color: #f69e19;
    margin: 0 1rem 0 0.5rem;
  }

  .info-learning p {
    margin-left: 3.1rem;
    font-size: 0.75rem;
  }

  .project-content {
    width: 100%;
  }

  /* Projects */
  #projects .z-2 {
    font-size: 2rem;
  }

  /* Contact */

  #contact .z-2 {
    font-size: 2rem;
  }

  #contact .contact-container {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .contact-container .contact-img {
    display: none;
  }

  .form-container {
    width: 100%;
  }

  .form-container h1 {
    color: var(--light-color);
    padding: 0.5rem 0;
    font-size: 1.75rem;
  }

  .form-container .form-item input {
    width: 100%;
  }

  .form-container .form-item .btn {
    height: 40px;
    font-size: 20px;
  }

  .form-container .form-item textarea {
    width: 100%;
  }
}
/* ********************************************************** */

@media (max-width: 400px) {
  .project-content h2 {
    font-size: 1rem;
  }

  .project-content p {
    font-size: 0.75rem;
  }

  .project-details a {
    font-size: 1rem;
  }

  .project-details .icons {
    font-size: 1rem;
  }
}

/* ************************************************************ */
@media (min-height: 800px) {
  /* Knew */
  .info-knew h4 {
    font-size: 1rem;
  }

  .info-knew .progress {
    height: 20px;
    border-radius: 6px;
  }

  .progress-container {
    margin-top: 0.75rem;
  }

  /* Learning */

  .info-learning li {
    margin-bottom: 1rem;
  }

  .info-learning .li-point h2 {
    font-size: 1.5rem;
  }

  .info-learning .li-point .icons {
    font-size: 1rem;
  }

  .info-learning p {
    margin-left: 2.5rem;
    font-size: 0.8rem;
  }
}

/* ******************************************************* */
@media (min-height: 850px) {
  /* Knew */
  .info-knew h4 {
    font-size: 1.5rem;
  }
}

/* ******************************************************** */

@media (min-height: 920px) {
  .btn {
    font-size: 1.75rem;
  }
  /* About Me*/
  .about-content .icons {
    font-size: 2rem;
  }

  .about-content h1 {
    font-size: 3rem;
  }
  .about-content p {
    font-size: 1.75rem;
  }

  /* Skills */

  #skills .z-2 {
    font-size: 3rem;
  }

  .pointer {
    margin-bottom: 2rem;
  }

  .info-skills .pointer .icons {
    font-size: 2rem;
  }
  .info-skills .pointer span {
    font-size: 1.5rem;
  }

  .skill-item {
    margin: 0 0.75rem;
  }

  /* Knew */

  .info-knew h4 {
    width: 14rem;
    font-size: 1.75rem;
  }

  .info-knew .progress {
    height: 25px;
    border-radius: 8px;
  }

  .progress-container {
    margin-top: 1rem;
  }

  /* Learning */

  .info-learning li {
    margin-bottom: 3rem;
  }

  .info-learning .li-point h2 {
    font-size: 2rem;
  }

  .info-learning .li-point .icons {
    font-size: 2rem;
  }

  .info-learning p {
    margin-left: 3.5rem;
    font-size: 1.5rem;
  }

  /* Contact */

  #contact .contact-container {
    margin-top: 3rem;
  }

  .form-container h1 {
    color: var(--light-color);
    padding: 0.5rem 0;
    font-size: 1.75rem;
  }

  .form-container .form-item input {
    width: 100%;
    height: 45px;
    margin: 1rem 0;
  }

  .form-container .form-item .btn {
    height: 60px;
    font-size: 30px;
  }

  .form-container .form-item textarea {
    width: 100%;
  }
}

/* ************************************************************* */

@media (max-height: 650px) {
  /* About Me */
  .info-content {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Skills */
  #skills .z-2 {
    font-size: 2rem;
  }

  .info-skills .pointer .icons {
    font-size: 2rem;
  }
  .info-skills .pointer span {
    font-size: 1.5rem;
  }

  /* Knew */
  .info-knew h4 {
    font-size: 1.5rem;
  }

  /* Learning */

  .info-learning .li-point h2 {
    font-size: 1.75rem;
  }

  .info-learning .li-point .icons {
    font-size: 1.75rem;
  }

  .info-learning p {
    margin-left: 3rem;
    font-size: 1.5rem;
  }
  .form-container .form-item {
    padding: 0;
  }
  .form-item p {
    font-size: 0.6rem;
  }
  .form-container .form-item label {
    font-size: 0.8rem;
  }
}
/* ************************************************************* */

@media (max-height: 600px) {
  /* Home */
  #home .z-1 {
    font-size: 2.5rem;
  }

  #home .z-2 {
    font-size: 1.5rem;
  }

  #home .z-3 {
    font-size: 1.25rem;
  }

  /* Contact */

  .form-container {
    justify-content: center;
  }

  .form-container form {
    width: 80%;
  }

  .form-container h1 {
    font-size: 1.25rem;
    padding: 0;
  }

  .form-container .form-item input {
    width: 100%;
    height: 20px;
    margin: 0.25rem 0;
    font-size: 15px;
  }

  .form-container .form-item .btn {
    height: 30px;
    font-size: 13px;
  }

  .form-container .form-item textarea {
    width: 100%;
    height: 80px;
  }
}
/* ************************************************************* */
@media (max-height: 420px) {
  /* Skills */

  #skills {
    padding-top: 0;
  }

  .info-skills .pointer .icons {
    font-size: 1rem;
  }
  .info-skills .pointer span {
    font-size: 1rem;
  }

  /* Knew */

  .info-knew h4 {
    width: 14rem;
    font-size: 0.75rem;
  }

  .info-knew .progress {
    height: 10px;
    border-radius: 3px;
  }

  .info-knew .progress-container {
    margin-top: 0;
    padding: 2px;
  }

  /* Learning */

  .info-learning li {
    margin-bottom: 0;
    padding: 2px;
  }

  .info-learning .li-point h2 {
    font-size: 1rem;
  }

  .info-learning .li-point .icons {
    font-size: 1rem;
  }

  .info-learning p {
    margin-left: 2.5rem;
    font-size: 0.6rem;
  }

  /* Projects */
  #projects {
    padding-top: 0;
  }
  /* Contact */
  #contact {
    padding-top: 0;
  }

  #contact .contact-container {
    margin-top: 0.5rem;
  }
  .form-container {
    justify-content: center;
  }
}
